// Add option error
.add-option-error {
    color: $off-white;
    margin: $medium-size 0 0 0;  // top, right, bottom, left
    font-style: italic;
    padding: 0;
}

// add option 
.add-option {
    display: flex;
    flex-direction: column;
    padding: $medium-size;
}

// manejo del cuadro de texto para que crezca en auto
.add-option__input {
    background: $dark-blue;
    border: none;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    color: $off-white;
    flex-grow: 1;
    margin: 0 0 $small-size 0;
    padding: $small-size;
   // margin-right: $small-size;
}


// configuracion variable para pantallas mobiles, basado en un ancho min de 45rem
// se cambia el acomodo de elementos hacia renglones (en vez de columnas)
// se agrega un espaciado entre el inputtype y el boton de agregar opcion.
@media (min-width: $desktop-breakpoint) {
    .add-option {
        flex-direction: row;
    }
    .add-option__input {
        margin: 0 $small-size 0 0;
    }
}

// estilo condicional para pantallas moviles.
// cambia el color de letras en rojo para pantallas menores a 45rem
// @media (max-width: 45rem) {
//     * {
//         color: red;
//     }
// }