// boton principal grandote
.big-button {
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    color: white;
    font-weight: bold;
    font-size: $xl-size;
    margin-bottom: $xl-size;
    padding: 2.4rem;
    width: 100%;
}
// la funcion darken($color, $amount)
// lista completa de funciones sass para manejar estilos en:
// http://sass-lang.com/documentation/Sass/Script/Functions.html

.big-button:disabled {
    opacity: .5;
}

.button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, $amount: 10%);
    color: white;
    font-weight: 500;
    padding: $small-size;
}

// bem modifier. Toma una clase y cambia algunos atributos

// para modifier se usa como convnecion "--" entre las palabras
.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}