// Widget general
.widget {
    background: $ligth-blue;
    margin-bottom: $xl-size;
}

// widget element selector
.widget__message {
    border-bottom: 1px solid lighten($ligth-blue, 10%);
    color: $off-white;
    margin: 0;
    padding: $large-size;
    text-align: center;
}

// widget header
.widget-header {
    background: $blue;
    color: $off-white;
    display: flex;
    justify-content: space-between; 
    padding: $medium-size;
}

// set up element selector
// margin: 0
.widget-header__title {
    margin: 0;
}