// archivos parciales inician con "_"

// dimensiones se utilziaran rem en vez de pixeles
html {
    font-size: 62.5%;
}

body {
  background: $dark-blue;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $medium-size;
}
